{%- block head -%}

<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>{{ site.title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="..{{ paths.root + paths.styles }}/main.css" />

  <script src="..{{ paths.root + paths.scripts }}/jquery.js"></script>
  <script src="..{{ paths.root + paths.scripts }}/bootstrap.bundle.js"></script>
  <script src="..{{ paths.root + paths.scripts }}/sidebar.js"></script>
  <script src="..{{ paths.root + paths.scripts }}/table.js"></script>

{%- endblock -%}
