<p><button class="c-btn c-btn--primary">Vaata lähemalt</button></p>
<p><button class="c-btn c-btn--primary" disabled>Vaata lähemalt</button></p>
<p><button class="c-btn c-btn--secondary">Vaata lähemalt</button></p>
<p><button class="c-btn c-btn--secondary" disabled>Vaata lähemalt</button></p>
<p><button class="c-btn c-btn--secondary">+ Lisan uue konto</button></p>
<p><button class="c-btn c-btn--text">Vaata lähemalt</button></p>
<p><button class="c-btn c-btn--text">+ Lisan andmed</button></p>