<div class="c-card c-card--small">
    <div class="title-row">
        <img class="card-title-icon" src="assets/Icons/user.svg" alt="user">
        <h1>title</h1>
    </div>
    <hr class="line c-card">
    <h2>Heading</h2>
</div>

<div class="c-card c-card--large">
    <div class="title-row">
        <img class="card-title-icon" src="assets/Icons/user.svg" alt="user">
        <h1>title</h1>
    </div>
    <hr class="c-card line">
    <h2>Heading</h2>
    <table class="card-columns">
        <tbody>
        <tr>
            <th>Isikukood</th>
            <td>47311200277</td>
        </tr>
        <tr>
            <th>Sünni kp</th>
            <td>20.11.1973</td>
        </tr>
        <tr>
            <th>Rahvus</th>
            <td>eestlane</td>
        </tr>
        <tr>
            <th>Telefon</th>
            <td>5096742</td>
        </tr>
        <tr>
            <th>E-post</th>
            <td>kairi.sarapuu@gmail.com</td>
        </tr>
        </tbody>
    </table>
    <hr class="c-card line">
    <div class="link-divider">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>
</div>

<div class="c-card">
    <div class="title-row">
        <img class="card-title-icon" src="assets/Icons/user.svg" alt="user">
        <h1>title</h1>
        <button class="card-info-button" data-toggle="collapse" data-target=".collapse" aria-expanded="false"
                aria-controls="collapse">
            Rohkem infot <img class="c-card--info-arrow" src="assets/Icons/arrow_down.svg" alt="expand">
        </button>
    </div>
    <hr class="line c-card">
    <h2>Heading</h2>
    <div class="collapse">
        <table class="card-columns">
            <tbody>
            <tr>
                <th>Isikukood</th>
                <td>47311200277</td>
            </tr>
            <tr>
                <th>Sünni kp</th>
                <td>20.11.1973</td>
            </tr>
            <tr>
                <th>Rahvus</th>
                <td>eestlane</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>5096742</td>
            </tr>
            <tr>
                <th>E-post</th>
                <td>kairi.sarapuu@gmail.com</td>
            </tr>
            </tbody>
        </table>
        <hr class="c-card line">
        <div class="link-divider">
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
        </div>
    </div>
</div>

<div class="c-card-cookie">
    <p>Palume Teie luba küpsiste kasutamiseks. Sellest, kuidas küpsiste andmeid kasutame saad täpsemalt lugeda <a
            href="#">siit</a>.</p>
    <div class="c-card-cookie--buttons">
        <button class="c-card-cookie--btn-text">Rohkem infot</button>
        <button class="c-card-cookie--btn-primary">Button</button>
    </div>
</div>

<div class="c-list">
    <div class="c-list--text">
        <hr class="line">
        <h1>Lapsetoetus 60 € / <br class="text-break">Vanemahüvitis 711,52 €</h1>
        <p>Väljamakse kuupäev: 08.09.2018</p>
    </div>
    <div class="c-list--price">
        <h2>Kokku <br class="price-break"><b>771,52 €</b></h2>
    </div>
</div>