<fieldset class="c-checkbox">
  <legend>Accessible Checkboxes</legend>
  <div>
    <input type="checkbox" name="Checkboxes" id="checkbox1" value="Checkbox1" />
    <label for="checkbox1">Checkbox1</label>
  </div>
  <div>
    <input type="checkbox" name="Checkboxes" id="checkbox2" value="Checkbox2" />
    <label for="checkbox2">Checkbox2</label>
  </div>
</fieldset>
