<p>
  Vormivälja pealkiri
  <label class="c-dropdown">
    <select name="select" class="c-dropdown--small">
      <option value="">Sisesta</option>
      <option value="Roheline">Roheline</option>
      <option value="Kollane">Kollane</option>
      <option value="Punane">Punane</option>
      <option value="Sinine">Sinine</option>
    </select>
  </label>
</p>

<p>
  Vormivälja pealkiri
  <label class="c-dropdown">
    <select name="select" class="c-dropdown--large">
      <option value="">Sisesta</option>
      <option value="Roheline">Roheline</option>
      <option value="Kollane">Kollane</option>
      <option value="Punane">Punane</option>
      <option value="Sinine">Sinine</option>
    </select>
  </label>
</p>
