<fieldset class="c-radio">
  <legend>Vali:</legend>
  <label>
    <input type="radio" name="valik" value="Pension, toetused" />
    <span>Pension, toetused</span>
  </label>
  <label>
    <input type="radio" name="valik" value="Lapsed, pere" />
    <span>Lapsed, pere</span>
  </label>
  <label>
    <input type="radio" name="valik" value="Puue,hoolekanne" />
    <span>Puue, hoolekanne</span>
  </label>
</fieldset>
