<div class="c-snackbar c-snackbar--info">
    <h1>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--success">
    <h1>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--warning">
    <h1>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "<a href="#">Minu andmed</a>" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--error">
    <h1>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>

<div class="c-snackbar c-snackbar--info">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/info.png" alt="info"></span>
        Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--success">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/success.png" alt="õnnestus"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--warning">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/warning.png" alt="hoiatus"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "<a href="#">Minu andmed</a>" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--error">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/error.png" alt="error"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>

<div class="c-snackbar c-snackbar--info-grayscale">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/info.png" alt="info"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--success-grayscale">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/success.png" alt="õnnestus"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--warning-grayscale">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/warning.png" alt="hoiatus"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "<a href="#">Minu andmed</a>" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--error-grayscale">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/error.png" alt="error"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>

<div class="c-snackbar c-snackbar--info-deuteranopia">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/info.png" alt="info"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--success-deuteranopia">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/success.png" alt="õnnestus"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--warning-deuteranopia">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/warning.png" alt="hoiatus"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "<a href="#">Minu andmed</a>" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--error-deuteranopia">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/error.png" alt="error"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>

<div class="c-snackbar c-snackbar--info-tritanopia">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/info.png" alt="info"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--success-tritanopia">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/success.png" alt="õnnestus"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--warning-tritanopia">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/warning.png" alt="hoiatus"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "<a href="#">Minu andmed</a>" - "Suunamine.</p>
</div>
<div class="c-snackbar c-snackbar--error-tritanopia">
    <h1><span><img class="snackbar-w-icon" src="assets/Icons/error.png" alt="error"></span>Teade</h1>
    <img class="close" src="assets/Icons/close.png" alt="sulge">
    <p>Suunatud e-postile kasutaja kairi.sarapuu@gmail.com <br>
        Soovi korral muuda suunamine kohe siin või vasak menüüst "Minu andmed" - "Suunamine.</p>
</div>