<form class="c-textfield-example-format">
  <div>
    <label for="text">Vormivälja pealkiri</label>
    <input type="text" class="c-textfield" name="väärtus" id="text" placeholder="Sisesta"/>
  </div>
  <div>
    <label for="disable">Vormivälja disabled</label>
    <input type="text" class="c-textfield" name="väärtus" id="disable" placeholder="Sisesta" disabled
    />
  </div>
  <div>
    <label for="focus">Vormivälja focus</label>
    <input type="text" class="c-textfield" name="väärtus" id="focus" placeholder="Click to focus"/>
  </div>
  <div class="c-textfield-mobile">
    <label for="focusMobile">Vormivälja focus mobile</label>
    <input type="text" class="c-textfield" name="väärtus" id="focusMobile" placeholder="Click to focus"/>
  </div>
</form>
