<table class="c-table table table-borderless">
    <thead id="table-header">
    <tr>
        <th scope="col"><button class="table-sort"><img src="assets/Icons/sort.svg"></button>Kuupäev</th>
        <th scope="col"><button class="table-sort"><img src="assets/Icons/sort.svg"></button>Kellaaeg</th>
        <th scope="col"><button class="table-sort"><img src="assets/Icons/sort.svg"></button>Kestus</th>
        <th scope="col"><button class="table-sort"><img src="assets/Icons/sort.svg"></button>Asukoht</th>
        <th scope="col"><button class="table-sort"><img src="assets/Icons/sort.svg"></button>Isiku tuvastamine</th>
        <th scope="col"><button class="table-sort"><img src="assets/Icons/sort.svg"></button>Isiku tuvastamine</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>