<div class="c-sidenav c-sidenav--under-8">
    <div class="wrapper ">
        <!-- Sidebar  -->
        <nav id="sidebar" class="sidebar-controller">
            <ul>
                <li>
                    <a href="#" id="sidebarCollapse" class="sidenav-header">
                        <div>
                            <img src="assets/Icons/X_Icon.png" alt="Sulge menüü nupp">
                            <p>Kitsendan menüü</p>
                        </div>
                        <div>
                            <img src="assets/Icons/menu_icon.png" alt="Ava menüü nupp">
                            <p>Laiendan menüü</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#avalehtSubmenu" data-toggle="collapse" aria-expanded="false" aria-haspopup=”true”
                       role="menu" class="firstLevel">
                        <img src="assets/Icons/home.png" alt="Avalehe menüü ikoon">
                        <p>Avaleht</p>
                    </a>
                    <ul class="collapse list-unstyled" id="avalehtSubmenu">
                        <li>
                            <a href="#turvalisusSubmenu" data-toggle="collapse" aria-expanded="false"
                               aria-haspopup=”true” role="menu" class="secondLevel">Turvalisus
                            </a>
                            <ul class="collapse list-unstyled" id="turvalisusSubmenu">
                                <li>
                                    <a href="#">Minu retseptid</a>
                                </li>
                                <li>
                                    <a href="#">Ravikindlusts</a>
                                </li>
                                <li>
                                    <a href="#">Arstiabi</a>
                                </li>
                                <li>
                                    <a href="#">Arstiabi ja ravi välismaal</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Ajateenistus</a>
                        </li>
                        <li>
                            <a href="#">Reservteenistus</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/Icons/documents.png" alt="Minu dokumendid menüü ikoon">
                        <p>Minu dokumendid</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/Icons/specialReq.png" alt="Minu arveldused menüü ikoon">
                        <p>Minu arveldused</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/Icons/myData.png" alt="Minu kontaktandmed menüü ikoon">
                        <p>Minu kontaktandmed</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/Icons/family.png" alt="Minuga seotud isikud menüü ikoon">
                        <p>Minuga seotud isikud</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/Icons/specialReq.png" alt="Suhtlus ja teavitused menüü ikoon">
                        <p>Suhtlus ja teavitused</p>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
        </div>
    </div>
</div>
