<div>
    <div class="c-mobile-header">
        <button id="sidemenuOpen">Menüü</button>
        <img src="assets/Icons/veera.svg" alt="Veera logo menüü ikoon">
        <img src="assets/Icons/myData.png" alt="Minu andmed menüü ikoon">
    </div>
    <div class="c-sidenav c-sidenav--mobile">
        <div class="wrapper ">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <ul>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/language.png" alt="Keele valiku menüü ikoon">
                            <p>Vali keel: Eesti</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/myData.png" alt="Minu andmed menüü ikoon">
                            <p>Minu andmed</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/country.png" alt="Eesti Vabariigi menüü ikoon">
                            <p>Eesti Vabariik</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tervisekaitseSubmenu" data-toggle="collapse" class="dropdown-toggle"
                           aria-expanded="false" aria-haspopup=”true” role="menu">
                            <img src="assets/Icons/healthcare.png" alt="Tervis ja tervisekaitse menüü ikoon">
                            <p>Tervis ja tervisekaitse</p>
                        </a>
                        <ul class="collapse list-unstyled" id="tervisekaitseSubmenu">
                            <li>
                                <a href="#page1Submenu" data-toggle="collapse" class="dropdown-toggle"
                                   aria-expanded="false" aria-haspopup=”true” role="menu">Tervishoid ja arstiabi
                                </a>
                                <ul class="collapse list-unstyled" id="page1Submenu">
                                    <li>
                                        <a href="#">Minu retseptid</a>
                                    </li>
                                    <li>
                                        <a href="#">Ravikindlusts</a>
                                    </li>
                                    <li>
                                        <a href="#">Arstiabi</a>
                                    </li>
                                    <li>
                                        <a href="#">Arstiabi ja ravi välismaal</a>
                                    </li>
                                    <li>
                                        <a href="#">Ajutine töövõimetus</a>
                                    </li>
                                    <li>
                                        <a href="#">Haigushüvitise maksmine</a>
                                    </li>
                                    <li>
                                        <a href="#">Püsiv töövõimetus</a>
                                    </li>
                                    <li>
                                        <a href="#">Tervis reisil</a>
                                    </li>
                                    <li>
                                        <a href="#">Vaktsineerimine</a>
                                    </li>
                                    <li>
                                        <a href="#">Ravimite ohutus ja kõrvaltoimetest teatamine</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Toidu- ja tarbekaupade ohutus</a>
                            </li>
                            <li>
                                <a href="#">Töötervishoid</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/grants.png"
                                 alt="Toetuste, sotsiaalteenuste ja pensioni andmete menüü ikoon">
                            <p>Toetused, sotsiaalteenused ja pensionid andmed</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/family.png" alt="Perekond menüü ikoon">
                            <p>Perekond</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/work.png" alt="Töö menüü ikoon">
                            <p>Töö ja töösuhted</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/business.png" alt="Ettevõtluse menüü ikoon">
                            <p>Ettevõtlus</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/specialReq.png" alt="Erinõuetega tegevusalade menüü ikoon">
                            <p>Erinõuetega tegevusalad</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/culture.png" alt="Kultuuri menüü ikoon">
                            <p>Kultuur, sport ja vaba aeg</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/documents.png" alt="Kodakodnsuse ja dokumendite menüü ikoon">
                            <p>Kodakondsus ja dokumendid</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/money.png" alt="Raha ja omand menüü ikoon">
                            <p>Raha ja omand</p>
                        </a>
                    </li>

                </ul>
            </nav>

            <!-- Page Content  -->
            <div id="content">
            </div>
        </div>
    </div>
</div>