<div class="c-sidenav c-sidenav--over-8">
  <div class="wrapper ">
    <!-- Sidebar  -->
    <nav id="sidebar" class="sidebar-controller">
      <ul>
        <li>
          <a href="#" id="sidebarCollapse" class="sidenav-header">
            <img src="assets/Icons/menu_icon.png" alt="Ava menüü ikoon" />
            <img src="assets/Icons/X_Icon.png" alt="Sulge menüü ikoon" />
            <p>Kitsendan menüü</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img src="assets/Icons/home.png" alt="Avalehe menüü ikoon" />
            <p>Avaleht</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/country.png"
              alt="Eesti Vabariigi menüü ikoon"
            />
            <p>Eesti Vabariik</p>
          </a>
        </li>
        <li>
          <a
            href="#tervisekaitseSubmenu"
            data-toggle="collapse" aria-expanded="false" aria-haspopup="”true”" class="firstLevel">
            <img src="assets/Icons/healthcare.png" alt="Tervis ja tervisekaitse menüü ikoon"/>
            <p>Tervis ja tervisekaitse</p>
          </a>
          <ul class="collapse list-unstyled" id="tervisekaitseSubmenu">
            <li>
              <a
                href="#page1Submenu"
                data-toggle="collapse"
                aria-expanded="false"
                aria-haspopup="”true”"
                class="secondLevel"
              >
                Tervishoid ja arstiabi
              </a>
              <ul class="collapse list-unstyled" id="page1Submenu">
                <li><a href="#">Minu retseptid</a></li>
                <li><a href="#">Ravikindlusts</a></li>
                <li><a href="#">Arstiabi</a></li>
                <li><a href="#">Arstiabi ja ravi välismaal</a></li>
                <li><a href="#">Ajutine töövõimetus</a></li>
                <li><a href="#">Haigushüvitise maksmine</a></li>
                <li><a href="#">Püsiv töövõimetus</a></li>
                <li><a href="#">Tervis reisil</a></li>
                <li><a href="#">Vaktsineerimine</a></li>
                <li><a href="#">Ravimite ohutus ja kõrvaltoimetest teatamine</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Toidu- ja tarbekaupade ohutus</a>
            </li>
            <li>
              <a href="#">Töötervishoid</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/grants.png"
              alt="Toetused, sotsiaalteenused ja pensioni andmete menüü ikoon"
            />
            <p>Toetused, sotsiaalteenused ja pensionid andmed</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img src="assets/Icons/family.png" alt="Perekonna menüü ikoon" />
            <p>Perekond</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img src="assets/Icons/work.png" alt="Töö menüü ikoon" />
            <p>Töö ja töösuhted</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/business.png"
              alt="Ettevõtluse menüü ikoon"
            />
            <p>Ettevõtlus</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/specialReq.png"
              alt="Erinõuetega tegevusalade menüü ikoon"
            />
            <p>Erinõuetega tegevusalad</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/disability.png"
              alt="Puudega inimesed menüü ikoon"
            />
            <p>Puudega inimesed</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/documents.png"
              alt="Kodakondsuse ja dokumendite menüü ikoon"
            />
            <p>Kodakondsus ja dokumendid</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/education.png"
              alt="Haridus ja teadus menüü ikoon"
            />
            <p>Haridus ja teadus</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/consumer.png"
              alt="Tarbijakatise menüü ikoon"
            />
            <p>Tarbijakaitse</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/money.png"
              alt="Raha ja omandi menüü ikoon"
            />
            <p>Raha ja omand</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img src="assets/Icons/justice.png" alt="Õigusabi menüü ikoon" />
            <p>Õigusabi</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img src="assets/Icons/culture.png" alt="Kultuuri menüü ikoon" />
            <p>Kutluur, sport ja vaba aeg</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/home.png"
              alt="Eluase ja keskkond menüü ikoon"
            />
            <p>Eluase ja keskkond</p>
          </a>
        </li>
        <li id="test">
          <a
            href="#riigikaitseSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="”true”"
            class="firstLevel"
          >
            <img
              src="assets/Icons/security.png"
              alt="Turvalisus ja riigikaitse menüü ikoon"
            />
            <p>Turvalisus ja riigikaitse</p>
          </a>
          <ul class="collapse list-unstyled" id="riigikaitseSubmenu">
            <li>
              <a
                href="#turvalisuseSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                aria-haspopup="”true”"
                class="secondLevel"
                >Turvalisus
              </a>
              <ul class="collapse list-unstyled" id="turvalisuseSubmenu">
                <li>
                  <a href="#">Minu retseptid</a>
                </li>
                <li>
                  <a href="#">Ravikindlusts</a>
                </li>
                <li>
                  <a href="#">Arstiabi</a>
                </li>
                <li>
                  <a href="#">Arstiabi ja ravi välismaal</a>
                </li>
                <li>
                  <a href="#">Ajutine töövõimetus</a>
                </li>
                <li>
                  <a href="#">Haigushüvitise maksmine</a>
                </li>
                <li>
                  <a href="#">Püsiv töövõimetus</a>
                </li>
                <li>
                  <a href="#">Tervis reisil</a>
                </li>
                <li>
                  <a href="#">Vaktsineerimine</a>
                </li>
                <li>
                  <a href="#">Ravimite ohutus ja kõrvaltoimetest teatamine</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Ajateenistus</a>
            </li>
            <li>
              <a href="#">Reservteenistus</a>
            </li>
            <li>
              <a href="#">Vabatahtlike osalemine riigikaitses</a>
            </li>
            <li>
              <a href="#">Karjäär kaitseväes</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content"></div>
  </div>
</div>
